<<<<<<< HEAD
/*
 * === Footer style ===
 */

/* Footer style */
footer {
    align-items: center;
    background-color: #0f0;
    bottom: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 60px;
=======
footer {
    background-color: #00FF00;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

footer p {
    text-align: center;
>>>>>>> 232dd6569967743a73eb8bb80cd21f36b055f40d
}
