<<<<<<< HEAD
/*
 * === Header style ===
 */

/* Header style */
header {
    background-color: #f00;
    height: 70px;
    width: 100%;
  }
=======
header {
    height: 70px;
    width: 100%;
    background-color: #FF0000;
}
>>>>>>> 232dd6569967743a73eb8bb80cd21f36b055f40d
